nmd-flash {
	&::before {
		box-sizing: content-box;
		font-weight: bolder;
		padding-left: .7em;
		width: 1em;
		text-align: center;

		/* Default type info */
		content: "\2139";
	}

	&[type=warning]::before {
		content: "\26a0";
		font-weight: normal;
	}

	&[type=fail]::before {
		content: "\2716";
	}

	&[type=success]::before {
		content: "\2714";
	}
}